.logo-container {
    text-align: center;
    margin-top: 25px;
}

.logo {
    display: inline-block;
    max-width: 3in;
    height: auto;
}

.call-top {
    background-color: #0d5988;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 20px auto;
    width: fit-content;
    margin-top: 17px;
}

.header-hero {
    text-align: center;
    font-size: 5vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #0d5988;
    margin-top: 35px;
}

.subheader-hero {
    text-align: center;
    font-size: 5vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #0d5988;
    margin-top: 30px;
}

.schedule {
    background-color: #84c124;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 20px auto;
    width: fit-content;
    margin-top: 35px;
}

.hero-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
    margin-top: 360px;
}
